@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color: #fff;
  --primary-color: #b88e2f;
  --secondary-color: #333333;
  --tertiary-color: #fff3e3;
  --text-primary-color: #333333;
  --text-secondary-color: #666666;
  --font-family: "Poppins", sans-serif;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}
.homepage {
  width: 100%;
  height: 100%;
}
.hero-section {
  padding-top: 20px;
  width: 100%;
  height: 40vh;
  position: relative;
}
.hero-section img {
  width: 100%;
  background-size: cover;
}
.hero-text {
  width: 400px;
  position: absolute;
  top: 10%;
  left: 50%;
  background-color: var(--tertiary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 20px;
  color: black;
}
.hero-text h5 {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 500;
}
.hero-text h1 {
  font-size: 30px;
  color: var(--primary-color);
  line-height: 40px;
  padding-bottom: 10px;
}
.hero-text p {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 10px;
}
.hero-text button {
  padding: 8px 16px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero-section {
    width: 100%;
    height: 70vh;
  }

  .hero-text {
    width: 600px;
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: var(--tertiary-color);
    padding: 50px 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    color: black;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #7b7b7b19;
  }
  .hero-text h5 {
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 600;
  }
  .hero-text h1 {
    font-size: 46px;
    color: var(--primary-color);
    line-height: 60px;
  }
  .hero-text p {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .hero-text button {
    padding: 25px 50px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: 600;
  }
}
